<div class="card mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">Manage School</span>
            <!--<span class="text-muted mt-1 fw-bold fs-7">Manage Frontend Users</span>-->
        </h3>
        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add User" *ngIf="user.type != 6">

            <a *ngIf="user.type == 1 || user.type == 6" routerLink="/schools/add" routerLinkActive="active" class="btn btn-sm btn-primary">
                <span [inlineSVG]="'./assets/media/icons/schoolnet/plus-squared.svg'" class="svg-icon svg-icon-3"></span>
                Add School
            </a>
        </div>
    </div>

    <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="row mt-5 mb-5" *ngIf="user.type == 6">
            <div class="col-lg fv-row">
                <label for="from" class="fw-bold fs-6 me-3"
                >From:</label>
        
                <input
                  class="form-control form-control-solid-bg mw-150px d-inline-block me-5"
                  [(ngModel)]="fromDate"
                  id="from"
                  type="date"
                  (change)="handleDateSearch($event)"
                />
        
                <label for="to" class="mw-150px fw-bold fs-6 text-end me-3">To:</label>
                <input
                  class="form-control form-control-solid-bg mw-150px d-inline-block me-5"
                  [(ngModel)]="toDate"
                  (change)="handleDateSearch($event)"
                  id="to"
                  type="date"
                  [min]="fromDate"
                />
        
                <button
                  (click)="clearDate()"
                  class="btn btn-primary"
                  *ngIf="toDate !== null || fromDate !== null"
                  type="button"
                >
                  <ng-container>Clear</ng-container>
                </button>
              </div>
              
                
                
                <div class="col-lg-4 fv-row">
    
                    <ng-select
                    [(ngModel)]="districtId"
                    formControlName=""
                    [items]="districtList"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [searchable]="true"
                    placeholder="Select District"
                    bindLabel="name"
                    bindValue="name"
                    (change)="onDistrictSelection($event)">
                  </ng-select>
            </div>
              </div>

            <div class="col-lg-12 fv-row">
                <div class="grid-control ms-10">

                    <button (click)="download()" class="dt-button buttons-excel buttons-html5 m-5" tabindex="0" aria-controls="school_table" type="button"><span>Download Excel</span></button> 
                </div>
                <!-- <div class="grid-control" *ngIf="user.type == 6">
            <select name="userType" required class="form-select form-select-solid form-select-lg fw-bold"
                    (change)="onTypeChange($event)" [value]="project">
                <option value="2">Select Type</option>
                <option value="1">ACTIVE</option>
                <option value="0">INACTIVE</option>
            </select>
                </div> -->
                <div class="grid-control" *ngIf="user.type != 6">
                    <select name="userType" required class="form-select form-select-solid form-select-lg fw-bold"
                            (change)="onTypeChange($event)" [value]="project">
                        <option value="2">Select Project Type</option>
                        <option value="1">IFP</option>
                        <option value="2">KYAN</option>
                        <option value="3">BOTH</option>
                    </select>
                        </div>

                <div class="table-responsive school-grid">
                    <!-- begin::Table -->
                    <table [id]="commonEntityNameTable" datatable [dtOptions]="dtOptions"
                           class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                    </table>
                </div>


            </div>
            
            </div>
    </div>

<!--                   
</div> -->

<div class="modal bs-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':viewDetailModalStyle}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Schools</h4>
                <button type="button" class="close" (click)="closePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body fs-4 lightText">
                <app-school-details></app-school-details>
            </div>
        </div>
    </div>
</div>
