<form [formGroup]="addForm" (ngSubmit)="onInsert(addForm.value)">
  <div>
    <div class="card shadow-none rounded-0 w-100">
      <div class="card-header">
        <h3 class="card-title fw-bolder text-dark">
          Adding assets to- {{ schoolName }}
        </h3>
      </div>
      <div class="card-body position-relative">
        <div>
          <!--Modify the form according to field Start-->

          <div class="row mb-6">
            <div class="col-lg-6">
              <label class="col-form-label required fw-bold fs-6"
              >Select Asset Type</label
            >
            <div class="fv-row">
              <ng-select
                [(ngModel)]="assetTypeId"
                (change)="loadAssets()"
                formControlName="asset_type_id"
                [items]="assetTypeList"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                placeholder="Select Asset Type"
                bindLabel="name"
                bindValue="id"
              >
              </ng-select>
              <div
                class="fv-plugins-message-container"
                *ngIf="
                  addForm.get('asset_type_id')?.touched &&
                  addForm.get('asset_type_id')?.hasError('required')
                "
              >
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
              <label class="col-form-label required fw-bold fs-6"
              >Select Asset</label
            >
            <div class="fv-row">
              <ng-select
                [(ngModel)]="assetId"
                formControlName="asset_id"
                [items]="assetList"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                placeholder="Select Asset"
                bindLabel="model"
                bindLabel="serial_no"
                bindValue="id"
              >
              <ng-template ng-label-tmp let-item="item">
                {{ item.model && item.model }} - {{ item.serial_no && item.serial_no }}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                Model - {{ item.model && item.model}} - Serial No. - {{ item.serial_no && item.serial_no }}
              </ng-template>
              </ng-select>
              
              <div
                class="fv-plugins-message-container"
                *ngIf="
                  addForm.get('asset_id')?.touched &&
                  addForm.get('asset_id')?.hasError('required')
                "
              >
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
            </div>
          
          </div>
          <div class="row mb-6">
            <div class="col-lg-6">
              <label class="col-form-label required fw-bold fs-6"
              >Electrification</label
            >
            <div class="fv-row">
              <select
                formControlName="electrification"
                name="electrification"
                required
                class="form-select form-select-solid form-select-lg fw-bold"
              >
                <option value="">Select Electrification</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <div
                class="fv-plugins-message-container"
                *ngIf="
                  addForm.get('electrification')?.touched &&
                  addForm.get('electrification')?.hasError('required')
                "
              >
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
              <label class="col-form-label required fw-bold fs-6"
              >Installation Date</label
            >
            <div class="fv-row">
              <input
                formControlName="date"
                name="date"
                placeholder="date"
                type="date"
                required
                class="form-control form-control-lg form-control-solid"
              />
              <div
                class="fv-plugins-message-container"
                *ngIf="
                  addForm.get('date')?.touched &&
                  addForm.get('date')?.hasError('required')
                "
              >
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
            </div>
        
          </div>

          <div class="row mb-6">
            <div class="col-lg-6">
              <label class="col-form-label  fw-bold fs-6"
              >Warrenty</label
            >
            <div class="fv-row">
              <select
                formControlName="warrenty"
                name="warrenty"
                
                class="form-select form-select-solid form-select-lg fw-bold"
              >
                <option value="" [defaultSelected]="true" disabled>Select warrenty</option>
                <option value="1 year">1 year</option>
                <option value="2 years">2 years</option>
                <option value="3 years">3 years</option>
                <option value="4 years">4 years</option>
                <option value="5 years">5 years</option>
                <option value="6 years">6 years</option>
                <option value="7 years">7 years</option>
              </select>
             
            </div>
            </div>
           
          </div>

   
          

          <div class="col-lg-12 fv-row" style="text-align: left">
            <button
              [disabled]="!addForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              <ng-container *ngIf="!isLoading">Save Changes</ng-container>
              <ng-container *ngIf="isLoading">
                <span [style.display]="'block'" clas="indicator-progress">
                  Please wait...{{ " " }}
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </ng-container>
            </button>
          </div>

          <!--Modify the form according to field End-->
        </div>
      </div>
    </div>
  </div>
</form>
