.semidarkText{
  color: #464545;
}

.lightText{
  color: #949393;
}
.custom-dropzone {
  width: 460px;  /* Set your desired width */
  height: 140px; /* Set your desired height */
}
.img-thumbnail {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
}

