<form
  [formGroup]="addForm"
  (ngSubmit)="onInsert(addForm.value)"
  *ngIf="details?.status != 5 && details?.status != 7"
>
  <div>
    <div class="card shadow-none rounded-0 w-100">
      <div class="card-header">
        <h3 class="card-title fw-bolder text-dark">Manage {{ entityName }}</h3>
      </div>
      <div class="card-body position-relative">
        <div class="mw-700px">
          <!--Modify the form according to field Start-->
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >School Name</label
            >
            <div class="col-lg-4 col-form-label fs-7">
              {{ details?.school_name }}
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Grievance Code</label
            >
            <div class="col-lg-4 col-form-label fs-7">
              {{ details?.code }} -
              <div class="badge badge-light-success">
                {{ details?.support_type == 1 ? "Technical" : "Non-Technical" }}
              </div>
            </div>
          </div>

          <div class="row mb-6" *ngIf="user.type == 1 || user.type == 5">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Select Service Engineer</label
            >
            <div class="col-lg-8 fv-row">
              <ng-select
                [(ngModel)]="serviceEngineerId"
                formControlName="service_engineer"
                [items]="engineerList"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                placeholder="Select Service Engineer"
                bindLabel="user_name"
                bindValue="id"
              >
              </ng-select>
              <!-- <div class="fv-plugins-message-container" *ngIf="addForm.get('school_id')?.touched && addForm.get('school_id')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div> -->
            </div>
          </div>

          <div
            class="row mb-6"
            *ngIf="
              (user.type == 1 || user.type == 5) && details?.visit_date == null
            "
          >
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Select Visit By:</label
            >
            <div class="col-lg-8 fv-row">
              <input
                formControlName="visit_date"
                name="visit_date"
                type="date"
                class="form-control form-control-lg form-control-solid"
                [min]="minDate"
              />
            </div>
          </div>
          <div
            class="row mb-6"
            *ngIf="
              (user.type == 1 || user.type == 5) && details?.visit_date != null
            "
          >
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Visit By:</label
            >

            <div class="col-lg-4 col-form-label fs-7" *ngIf="details?.visit_date">
              {{ date }}
            </div>
          </div>
          <div
            class="row mb-6"
            *ngIf="
              (user.type == 4 || user.type == 3) && details?.visit_date != null
            "
          >
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Visit By:</label
            >

            <div class="col-lg-4 col-form-label fs-7" *ngIf="details?.visit_date">
              {{ date }}
            </div>
          </div>
          <div
            class="row mb-6"
            *ngIf="
              (user.type == 4 || user.type == 3) && details?.visit_date == null
            "
          >
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Visit By:</label
            >

            <div class="col-lg-4 col-form-label fs-7" *ngIf="details?.visit_date">
              Visit Date is not declared.
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Asset</label
            >
            <div class="col-lg-4 col-form-label fs-7">
              {{ details?.asset_name }}
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fs-6"
              >Model</label
            >
            <div class="col-lg-4 col-form-label fs-7">
              {{ details?.asset_model }}
              <div class="badge badge-light-success">
                {{ details?.serial_no}}
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Issue</label
            >
            <div class="col-lg-4 col-form-label fs-7">
              {{ details?.issue }}
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Created On</label
            >
            <div class="col-lg-4 col-form-label fs-7">
              {{ details?.createdAt }}
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
              >Status</label
            >
            <div
              class="col-lg-8 fv-row"
              *ngIf="user.type == 1 || user.type == 5"
            >
              <select
                formControlName="status"
                name="status"
                required
                class="form-select form-select-solid form-select-lg fw-bold"
                (change)="showOEM($event)"
              >
                <option value="" disabled>Select Status</option>
                <option value="0">Unassigned</option>
                <option value="1">Assigned</option>
                <option value="6">Resolved SE</option>
                <option value="2">Assigned OEM</option>
                <option value="3">Completed OEM</option>
                <option value="4">Unresolved</option>
                <option value="5">Completed</option>
                <option value="7">Stolen</option>
              </select>
              <div
                class="fv-plugins-message-container"
                *ngIf="
                  addForm.get('status')?.touched &&
                  addForm.get('status')?.hasError('required')
                "
              >
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
            <div class="col-lg-8 fv-row" *ngIf="user.type == 4">
              <select
                formControlName="status"
                name="status"
                required
                class="form-select form-select-solid form-select-lg fw-bold"
              >
                <option value="" disabled>Select Status</option>
                <option value="1" disabled>Assigned</option>
                <option value="4">Unresolved</option>
                <option value="6">Resolved SE</option>
                <option value="7">Stolen</option>
                <!-- <option value="5" disabled>Completed</option> -->
              </select>
              <div
                class="fv-plugins-message-container"
                *ngIf="
                  addForm.get('status')?.touched &&
                  addForm.get('status')?.hasError('required')
                "
              >
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
            <div class="col-lg-8 fv-row" *ngIf="user.type == 2">
              <select
                formControlName="status"
                name="status"
                required
                class="form-select form-select-solid form-select-lg fw-bold"
              >
                <option value="" disabled>Select Status</option>
                <option value="2">Assigned OEM</option>
                <option value="3">Completed OEM</option>
              </select>
              <div
                class="fv-plugins-message-container"
                *ngIf="
                  addForm.get('status')?.touched &&
                  addForm.get('status')?.hasError('required')
                "
              >
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
            <div class="col-lg-8 fv-row" *ngIf="user.type == 3">
              <select
                *ngIf="details.status == 0"
                formControlName="status"
                name="status"
                required
                class="form-select form-select-solid form-select-lg fw-bold"
              >
                <option value="" disabled>Select Status</option>
                <option value="0">Unassigned</option>
                
              </select>
              <div
                name="status"
                formControlName="status"
                class="form-control form-control-solid form-control-lg fw-bold"
                *ngIf="details.status != 0"
              >
                {{
                  details.status == 1
                    ? "Assigned"
                    : details.status == 2
                    ? "Assigned OEM"
                    : details.status == 3
                    ? "Completed OEM"
                    : details.status == 4
                    ? "Unresolved"
                    : details.status == 6
              ?
              "Resolved SE"
              : details.status == 7
              ?
              "Stolen"
                    : "Completed"
                }}
              </div>
              <div
                class="fv-plugins-message-container"
                *ngIf="
                  addForm.get('status')?.touched &&
                  addForm.get('status')?.hasError('required')
                "
              >
                <div class="fv-help-block">This is a required field</div>
              </div>
            </div>
          </div>

          <div
            class="row mb-6"
            *ngIf="setShowOem == true || details?.status == 2"
          >
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Select OEM</label
            >
            <div class="col-lg-8 fv-row">
              <ng-select
                [(ngModel)]="oemID"
                formControlName="oem_id"
                [items]="oemList"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                placeholder="Select OEM"
                bindLabel="user_name"
                bindValue="id"
              >
              </ng-select>
              <!-- <div class="fv-plugins-message-container" *ngIf="addForm.get('school_id')?.touched && addForm.get('school_id')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div> -->
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Description</label
            >
            <div class="col-lg-8 fv-row">
              <textarea
                formControlName="description"
                name="description"
                class="form-control form-control-solid-bg"
                rows="5"
                placeholder="Please describe about your grievance..."
              ></textarea>
            </div>
          </div>

          
          <!-- <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">File</label>
         
            <div class="col-lg-8 fv-row" >
              <ngx-dropzone  (change)="uploadFile($event)" [multiple]="true" 
                      class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 horizontal-box custom-dropzone">
            <ngx-dropzone-label>Select File to Upload</ngx-dropzone-label>
    
            <ngx-dropzone-preview class="img-thumbnail"  [file]="pdfFile" *ngIf="pdfFile" [removable]="true"  (removed)="onRemovePdf(pdfFile)">
                <ngx-dropzone-label>{{ pdfFile.name }}</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
            </div>
            
          </div> -->


          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Upload Pictures</label>
            <div class="col-lg-8 fv-row">
              <ngx-dropzone 
                (change)="uploadFiles($event)" 
                [multiple]="true" 
                accept="image/*"
                class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 horizontal-box custom-dropzone">
                <ngx-dropzone-label>Select Pictures to Upload</ngx-dropzone-label>
                
                <ngx-dropzone-preview 
                  *ngFor="let image of images"
                  [file]="image.file" 
                  [removable]="true" 
                  (removed)="onRemoveImage(image)">
                  <img 
                    [src]="image.preview" 
                    alt="{{ image.name }}" 
                    class="img-thumbnail" />
                  <ngx-dropzone-label>{{ image.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
          </div>
          
          
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Uploaded File</label>
            <div class="col-lg-8 fv-row" *ngIf="details?.file">
              <!-- {{ details?.file }} -->
              <a  [href]="getDownloadLink(details?.file)" download={{details?.file}} class="btn btn-primary">Download File</a>
            </div>
           
            
          </div>

          <!--Modify the form according to field End-->
        </div>
      </div>

      <div class="card-header">
        <h3 class="card-title fw-bolder text-dark">Grievance Timeline</h3>
      </div>
      <div class="card-header" *ngIf="grievanceTimelineDetails == null">
        <h3 class="card-title fw-bolder text-dark p-0">Latest Activity</h3>
      </div>
      <div class="card-body pt-5" *ngIf="grievanceTimelineDetails != null">
        <div
          class="timeline-label"
          *ngFor="let data of grievanceTimelineDetails"
        >
          <div
            class="timeline-item mb-5"
            *ngIf="data.byUserType == 1; else elseBlock"
          >
            <div class="timeline-label fw-bolder text-gray-800 fs-8">
              {{ data.time }}
            </div>
            <div class="ms-5">
              <div class="timeline-badge">
                <i class="fa fa-genderless text-warning fs-1"></i>
              </div>
            </div>
            <div class="fw-mormal timeline-content text-muted ps-3">
              <span class="fw-bolder text-gray-800 ps-3">
                Grievance assigned to @{{ data.to }} ({{ data.designation }})
              </span>
              <br />
              <div class="ms-5">
                {{ data?.updated_status }}
                <br />
                Description : {{ data?.description }}

                <br />
                Visit Date :
                {{ date != "Invalid date" ? date : "Not yet declared" }}
                <br />
                Assigned on {{ data?.createdAt }} by {{ data.by }}
                <br />
              </div>
            </div>
          </div>
          <ng-template #elseBlock>
            <div
              class="timeline-item mb-5"
              *ngIf="data.byUserType == 5; else elseBlock2"
            >
              <div class="timeline-label fw-bolder text-gray-800 fs-8">
                {{ data.time }}
              </div>
              <div class="ms-5">
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-success fs-1"></i>
                </div>
              </div>
              <div class="fw-mormal timeline-content text-muted ps-3">
                <span class="fw-bolder text-gray-800 ps-3"
                  >Help Desk assigned to @{{ data.to }} ({{ data.designation }})
                </span>
                <br />
                <div class="ms-5">
                  {{ data?.updated_status }}
                  <br />
                  Description : {{ data?.description }}
                  <br />
                  Assigned on {{ data.createdAt }} by {{ data.by }}
                  <br />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #elseBlock2>
            <div
              class="timeline-item mb-5"
              *ngIf="data.byUserType == 2; else elseBlock3"
            >
              <div class="timeline-label fw-bolder text-gray-800 fs-8">
                {{ data.time }}
              </div>
              <div class="ms-5">
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-danger fs-1"></i>
                </div>
              </div>
              <div class="fw-mormal timeline-content text-muted ps-3">
                <span class="fw-bolder text-gray-800 ps-3">
                  OEM completed the grievance
                </span>
                <br />
                <div class="ms-5">
                  {{ data?.updated_status }}
                  <br />
                  Description : {{ data?.description }}
                  <br />
                  Sent on {{ data?.createdAt }} by {{ data.by }}
                  <br />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #elseBlock3>
            <div
              class="timeline-item mb-5"
              *ngIf="data.byUserType == 4; else elseBlock4"
            >
              <div class="timeline-label fw-bolder text-gray-800 fs-8">
                {{ data.time }}
              </div>
              <div class="ms-5">
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-danger fs-1"></i>
                </div>
              </div>
              <div class="fw-mormal timeline-content text-muted ps-3">
                <span class="fw-bolder text-gray-800 ps-3">
                  Service Engineer Visited
                </span>

                <br />
                <div class="ms-5">
                  {{ data?.updated_status }}
                  <br />
                  Description : {{ data?.description }}
                  <br />
                  Visited on {{ date }} by {{ data.to }}
                  <br />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #elseBlock4>
            <div class="timeline-item mb-5" *ngIf="data.byUserType == 3">
              <div class="timeline-label fw-bolder text-gray-800 fs-8">
                {{ data.time }}
              </div>
              <div class="ms-5">
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-danger fs-1"></i>
                </div>
              </div>
              <div class="fw-mormal timeline-content text-muted ps-3">
                <span class="fw-bolder text-gray-800 ps-3">
                  School view raised a grievance
                </span>

                <br />
                <div class="ms-5">
                  {{ data?.updated_status }}
                  <br />
                  Description : {{ data?.description }}
                  <br />
                  Raised by {{ data.by }}
                  <br />
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    
      <div
        class="col-lg-12 fv-row mb-10 ps-10"
        style="text-align: left"
        *ngIf="
          !(
            (user.type == 4 || user.type == 1 || user.type == 5) &&
            details?.status == 5 || details?.status == 7
          )
        "
      >
        <button
          [disabled]="!addForm.valid"
          class="btn btn-secondary"
          type="submit"
          *ngIf="user.type != 3"
        >
          <ng-container *ngIf="!isLoading">Save</ng-container>
          <ng-container *ngIf="isLoading">
            <span [style.display]="'block'" clas="indicator-progress">
              Please wait...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="card mb-5 mb-xl-10" *ngIf="details?.status == 5 || details?.status == 7">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
      <div class="flex-grow-1">
        <div class="justify-content-between align-items-start flex-wrap mb-2">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <div
                class="text-gray-800 text-hover-primary fs-2 fw-bolder me-1 cursor-pointer"
              >
              Grievance Code: #{{ details?.code }}
              </div>
              <span
                class="text-gray-800 text-hover-primary fs-5 fw-normal me-1 cursor-pointer ms-5"
                >{{ details?.createdAt}}</span
              >
              <span
                class="badge-light-success me-4 p-3 fs-4 border border-0 rounded ms-5"
                *ngIf="details?.status == 5">Completed</span
              >
              <span
                class="badge-light-danger me-4 p-3 fs-4 border border-0 rounded ms-5"
                *ngIf="details?.status == 7">Stolen</span
              >
            </div>
            <div class="row mb-6">
              <div class="col-lg-4">
                <label class="col-form-label fw-bold fs-6"
                >School Name</label
              >
              <div class="fv-row">
                {{ details?.school_name }}
              </div>
              </div>
              <div class="col-lg-4" >
                <label class="col-form-label fw-bold fs-6"
                >Grievance Raised By:</label
              >
              <div class="fv-row">
                {{ details?.raised_by}}
              </div>
              </div>
              <div class="col-lg-4" *ngIf="details?.engineer_name">
                <label class="col-form-label fw-bold fs-6"
                >Asset Name: </label
              >
              <div class="fv-row">
                {{details?.asset_name}}
              </div>
              </div>
            </div>
            <div class="row mb-6">
              <div class="col-lg-4">
                <label class="col-form-label fw-bold fs-6"
                >Asset: </label
              >
              <div class="fv-row">
                {{ details?.asset_model }}
              </div>
              <div class="fv-row">
                {{ details?.serial_no }}
              </div>
              </div>
              <div class="col-lg-4" >
                <label class="col-form-label fw-bold fs-6"
                >Visit By:</label
              >
              <div class="fv-row">
                {{ details.visit_date ?  formattedVisitDate : "No visit created"}}
              </div>
              </div>
              <div class="col-lg-4" *ngIf="details?.engineer_name">
                <label class="col-form-label fw-bold fs-6"
                >Service Engineer</label
              >
              <div class="fv-row">
                {{details?.engineer_name}}
              </div>
              </div>
            </div>
            <div class="row mb-6">
              <div class="col-lg-4">
                <label class="col-form-label fw-bold fs-6"
                >OEM Name: </label
              >
              <div class="fv-row">
                {{ details.oem_name ? details.oem_name : "OEM not avaiable."}}
              </div>
              </div>
              <div class="col-lg-4" >
                <label class="col-form-label fw-bold fs-6"
                >Description: </label
              >
              <div class="fv-row">
                {{ details?.description }}
              </div>
              </div>
              <div class="col-lg-4" *ngIf="details?.file != null" >
                <label class="col-form-label fw-bold fs-6"
                >File: </label
              >
              <div class="fv-row">
                <a [href]="getDownloadLink(details.file)" download class="btn btn-sm btn-primary">Download File</a>
             
              </div>
              </div>
            </div>
            </div>
            </div>
     
      <div class="card-header ps-0">
        <h3 class="card-title fw-bolder text-dark">Grievance Timeline</h3>
      </div>
      <div class="card-header" *ngIf="grievanceTimelineDetails == null">
        <h3 class="card-title fw-bolder text-dark p-0">Latest Activity</h3>
      </div>
      <div class="card-body pt-5 ps-2" *ngIf="grievanceTimelineDetails != null">
        <div
          class="timeline-label"
          *ngFor="let data of grievanceTimelineDetails"
        >
          <div
            class="timeline-item mb-5"
            *ngIf="data.byUserType == 1; else elseBlock"
          >
            <div class="timeline-label fw-bolder text-gray-800 fs-8">
              {{ data.time }}
            </div>
            <div class="ms-5">
              <div class="timeline-badge">
                <i class="fa fa-genderless text-warning fs-1"></i>
              </div>
            </div>
            <div class="fw-mormal timeline-content text-muted ps-3" >
              <span class="fw-bolder text-gray-800 ps-3">
                Grievance assigned to @{{ data.to }} ({{ data.designation }})
              </span>
              <br />
              <div class="ms-5">
                {{ data?.updated_status }}
                <br />
                Description : {{ data?.description }}

                <br />
                Visit Date :
                {{ date != "Invalid date" ? date : "Not yet declared" }}
                <br />
                Assigned on {{ data?.createdAt }} by {{ data.by }}
                <br />
              </div>
            </div>
          
          </div>
          <ng-template #elseBlock>
            <div
              class="timeline-item mb-5"
              *ngIf="data.byUserType == 5; else elseBlock2"
            >
              <div class="timeline-label fw-bolder text-gray-800 fs-8">
                {{ data.time }}
              </div>
              <div class="ms-5">
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-success fs-1"></i>
                </div>
              </div>
              <div class="fw-mormal timeline-content text-muted ps-3">
                <span class="fw-bolder text-gray-800 ps-3"
                  >Help Desk assigned to @{{ data.to }} ({{ data.designation }})
                </span>
                <br />
                <div class="ms-5">
                  {{ data?.updated_status }}
                  <br />
                  Description : {{ data?.description }}
                  <br />
                  Assigned on {{ data.createdAt }} by {{ data.by }}
                  <br />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #elseBlock2>
            <div
              class="timeline-item mb-5"
              *ngIf="data.byUserType == 2; else elseBlock3"
            >
              <div class="timeline-label fw-bolder text-gray-800 fs-8">
                {{ data.time }}
              </div>
              <div class="ms-5">
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-danger fs-1"></i>
                </div>
              </div>
              <div class="fw-mormal timeline-content text-muted ps-3">
                <span class="fw-bolder text-gray-800 ps-3">
                  OEM completed the grievance
                </span>
                <br />
                <div class="ms-5">
                  {{ data?.updated_status }}
                  <br />
                  Description : {{ data?.description }}
                  <br />
                  Sent on {{ data?.createdAt }} by {{ data.by }}
                  <br />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #elseBlock3>
            <div
              class="timeline-item mb-5"
              *ngIf="data.byUserType == 4; else elseBlock4"
            >
              <div class="timeline-label fw-bolder text-gray-800 fs-8">
                {{ data.time }}
              </div>
              <div class="ms-5">
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-danger fs-1"></i>
                </div>
              </div>
              <div class="fw-mormal timeline-content text-muted ps-3">
                <span class="fw-bolder text-gray-800 ps-3">
                  Service Engineer Visited
                </span>

                <br />
                <div class="ms-5">
                  {{ data?.updated_status }}
                  <br />
                  Description : {{ data?.description }}
                  <br />
                  Visited on {{ date }} by {{ data.to }}
                  <br />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #elseBlock4>
            <div class="timeline-item mb-5" *ngIf="data.byUserType == 3">
              <div class="timeline-label fw-bolder text-gray-800 fs-8">
                {{ data.time }}
              </div>
              <div class="ms-5">
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-danger fs-1"></i>
                </div>
              </div>
              <div class="fw-mormal timeline-content text-muted ps-3">
                <span class="fw-bolder text-gray-800 ps-3">
                  School view raised a grievance
                </span>

                <br />
                <div class="ms-5">
                  {{ data?.updated_status }}
                  <br />
                  Description : {{ data?.description }}
                  <br />
                  Raised by {{ data.by }}
                  <br />
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
