<div
  class="border border-dotted border-6 border-gray-2 rounded p-5 mb-6"
  *ngIf="schoolData"
>
  <div class="card-header">
    <h3 class="card-title fs-1 fw-bolder text-dark">School Visit Details</h3>
  </div>
  <br />

  <div class="card mw-600px mh-600px pb-0 rounded-0">
    <div class="card-body pt-9 pb-0">
      <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
        <div class="flex-grow-1">
          <div class="justify-content-between align-items-start flex-wrap mb-2">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <div
                  class="text-gray-800 text-hover-primary fs-2 fw-bolder me-1 cursor-pointer"
                >
                  {{ schoolData.name }}
                </div>
                <span
                  class="badge-light-danger me-4 p-3 fs-4 border border-0 rounded" *ngIf="schoolData.status == 2 && schoolData.arrival != null">
                    Issue 
                     
                  </span>
                  <span
                  class="badge-light-success me-4 p-3 fs-4 border border-0 rounded" *ngIf="schoolData.status == 1 && schoolData.arrival != null">
                    Working fine
                     
                  </span>
                  <span
                  class="badge-light-danger me-4 p-3 fs-4 border border-0 rounded" *ngIf="schoolData.status == 3 && schoolData.arrival != null">
                      Unresolved
                     
                  </span>
                  <span class="badge-light-success me-4 p-3 fs-4 border border-0 rounded" *ngIf="schoolData.status == 4 && schoolData.arrival != null">
                   
                      Resolved
                  </span>
                  <span class="badge-light-success me-4 p-3 fs-4 border border-0 rounded" *ngIf="schoolData.arrival == null">
                   Yet to visit</span>
              </div>
              <div class="fw-bold fs-6 mb-0 pb-0 mt-5">
                <a
                  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-6 cursor-pointer"
                >
                  <label class="col-lg-6 fw-bold text-muted me-4"
                    >Service Engineer :
                  </label>
                  {{ schoolData.service_engineer }}
                </a>

                <a
                  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-6 cursor-pointer"
                >
                  <label class="col-lg-6 fw-bold text-muted me-4"
                    >Contact Number :
                  </label>

                  {{ schoolData.phone }}
                </a>
                <a
                  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-6 cursor-pointer"
                >
                  <label class="col-lg-6 fw-bold text-muted me-4">
                    Asset:
                  </label>

                  {{ schoolData.asset }}
                </a>
                <a
                  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-6 cursor-pointer"
                >
                  <label class="col-lg-6 fw-bold text-muted me-4"
                    >Code :
                  </label>
                  {{ schoolData.grievance_code }}
                </a>
                <a
                  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-6 cursor-pointer"
                >
                  <label class="col-lg-6 fw-bold text-muted me-4"
                    >Date :
                  </label>
                  {{ schoolData.date }}
                </a>
                <a
                  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-6 cursor-pointer"
                >
                  <label class="col-lg-6 fw-bold text-muted me-4"
                    >Arrival :
                  </label>
                  {{ schoolData.arrival }}
                </a>
                <a
                  class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-6 cursor-pointer"
                >
                  <label class="col-lg-6 fw-bold text-muted me-4"
                    >Departure :
                  </label>
                  {{ schoolData.departure }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  [ngClass]="{'card mw-1000px mh-600px rounded-0': isToggled, 'card mw-600px mh-600px rounded-0': !isToggled }">
    <div class="card-body p-0 m-0">
      <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
        <div class="flex-grow-1">
          <div class="justify-content-between align-items-start flex-wrap mb-2 mt-0 pt-0">
            <form
              [formGroup]="addForm"
              (ngSubmit)="onInsert(addForm.value)"
              *ngIf="user.type == 1"
            >
             

              <div
                class="card shadow-none rounded-0 w-100"
                
              >
              <div class="form-check form-switch ms-9">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  [(ngModel)]="isToggled"
                  (change)="toggleChange()"
                  id="flexSwitchCheckChecked"
                />
                <label class="form-check-label" for="flexSwitchCheckChecked"
                  >Raise Grievance</label
                >
              </div>
                <div class="card-body position-relative" *ngIf="isToggled == true">
                  <div>
                    <div class="row mb-6">
                      <div class="col-lg-6">
                        <label class="col-form-label required fw-bold fs-6"
                          >Select Asset</label
                        >
                        <div class="fv-row">
                          <ng-select
                            [(ngModel)]="assetId"
                            (change)="loadIssues($event)"
                            formControlName="asset_id"
                            [items]="assetList"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            placeholder="Select Asset"
                            bindLabel="name"
                            bindValue="id"
                          >
                          </ng-select>
                          <div
                            class="fv-plugins-message-container"
                            *ngIf="
                              addForm.get('asset_id')?.touched &&
                              addForm.get('asset_id')?.hasError('required')
                            "
                          >
                            <div class="fv-help-block">
                              This is a required field
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <label class="col-form-label required fw-bold fs-6"
                          >Select Issue</label
                        >
                        <div class="fv-row">
                          <ng-select
                            [(ngModel)]="issueId"
                            formControlName="issue_id"
                            [items]="issueList"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            placeholder="Select Issue"
                            bindLabel="description"
                            bindValue="id"
                          >
                          </ng-select>
                          <div
                            class="fv-plugins-message-container"
                            *ngIf="
                              addForm.get('issue_id')?.touched &&
                              addForm
                                .get('school_issue_idtype')
                                ?.hasError('required')
                            "
                          >
                            <div class="fv-help-block">
                              This is a required field
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-6">
                      <div class="col-lg-6">
                        <label class="col-form-label fw-bold fs-6 required"
                          >Description</label
                        >
                        <div class="fv-row">
                          <textarea
                            formControlName="description"
                            name="description"
                            placeholder="Description"
                            required
                            class="form-control form-control-lg form-control-solid"
                            rows="5"
                          ></textarea>
                          <div
                            class="fv-plugins-message-container"
                            *ngIf="
                              addForm.get('description')?.touched &&
                              addForm.get('description')?.hasError('required')
                            "
                          >
                            <div class="fv-help-block">
                              This is a required field
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <label class="col-form-label fw-bold fs-6"
                          >Upload File</label
                        >
                          <ngx-dropzone (change)="uploadFile($event)" [multiple]="false"
                                        class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 horizontal-box custom-dropzone">
                              <ngx-dropzone-label>Select File to Upload</ngx-dropzone-label>

                              <ngx-dropzone-preview  [file]="pdfFile" *ngIf="pdfFile" [removable]="true"  (removed)="onRemovePdf(pdfFile)">
                                  <ngx-dropzone-label>{{ pdfFile.name }}</ngx-dropzone-label>
                              </ngx-dropzone-preview>
                          </ngx-dropzone>
                      </div>
                    </div>

                    <div class="col-lg-12 fv-row" style="text-align: left">
                      <button
                        [disabled]="!addForm.valid"
                        class="btn btn-primary"
                        type="submit"
                      >
                        <ng-container *ngIf="!isLoading"
                          >Save Changes</ng-container
                        >
                        <ng-container *ngIf="isLoading">
                          <span
                            [style.display]="'block'"
                            clas="indicator-progress"
                          >
                            Please wait...{{ " " }}
                            <span
                              class="spinner-border spinner-border-sm align-middle ms-2"
                            ></span>
                          </span>
                        </ng-container>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
