<form [formGroup]="addForm" (ngSubmit)="onUpdate(addForm.value)">
    <div>
        <div class="card shadow-none rounded-0 w-100">
            <div class="card-header">
                <h3 class="card-title fw-bolder text-dark">Edit {{entityName}}</h3>
            </div>
            <div class="card-body position-relative">
                <div>

                    <!--Modify the form according to field Start-->

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label required fw-bold fs-6">User Type</label>
                        <div class="col-lg-8 fv-row">
                            <select formControlName="user_type" name="region_id" required class="form-select form-select-solid form-select-lg fw-bold" (change)="viewSchoolName($event)" (change)="onTypeChange()">
                                <option value="">Select User Type</option>
                                <option *ngIf="user.type != 6" value="1">Admin</option>
                                <option value="2">OEM</option>
                                <option value="3">School View</option>
                                <option value="4">Service Engineer</option>
                                <option value="5">Help Desk</option>
                                <option value="6">Office Management View</option>

                            </select>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('user_type')?.touched && addForm.get('user_type')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label required fw-bold fs-6">User Name</label>
                        <div class="col-lg-8 fv-row">
                            <input formControlName="user_name" name="user_name" placeholder="User Name"  type="text" required class="form-control form-control-lg form-control-solid"/>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('user_name')?.touched && addForm.get('user_name')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-6" *ngIf="showSchoolName==1">
                        <label class="col-lg-4 col-form-label required fw-bold fs-6" >School Name</label>
                        <div class="col-lg-8 fv-row" >
                            <ng-select
                            (change)="filterProjectType($event)"
                            formControlName="school_id" 
                             [items]="schoolList"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="true"
                            placeholder="Select School Name"
                            bindLabel="name"
                            bindValue="id"
                            
 
                 >
                 </ng-select>
                 <div class="fv-plugins-message-container" *ngIf="addForm.get('school_id')?.touched && addForm.get('school_id')?.hasError('required')">
                    <div class="fv-help-block"> This is a required field</div>
                </div>
                 </div>
                    </div>

                    <div class="row mb-6" *ngIf="showSchoolName==1 || showProject==2">
                        <label class="col-lg-4 col-form-label required fw-bold fs-6">Project Type</label>
                        <div class="col-lg-8 fv-row">
                            <select formControlName="project" name="project"  class="form-select form-select-solid form-select-lg fw-bold">
                                <option disabled [defaultSelected]="true" value="0">Select project Type</option>
                                <option value="1" *ngIf="selectProject !=0 ? selectProject==1: selectProject ==0">IFP</option>
                                <option value="2" *ngIf="selectProject !=0 ? selectProject==2: selectProject ==0">KYAN</option>
                            </select>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('project')?.touched && addForm.get('project')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required">Contact No.</label>
                        <div class="col-lg-8 fv-row">
                            <input formControlName="phone" name="phone" placeholder="Contact No."  type="text" required class="form-control form-control-lg form-control-solid"/>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('phone')?.touched && addForm.get('phone')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('phone')?.touched && addForm.get('phone')?.hasError('pattern')">
                                <div class="fv-help-block"> Phone Number cannot be less that 10 digits</div>
                            </div>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('phone')?.touched && addForm.get('phone')?.hasError('phoneExists')">
                                <div class="fv-help-block"> This Phone already exists</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required">Email</label>
                        <div class="col-lg-8 fv-row">
                            <input formControlName="email" name="email" placeholder="Email"  type="text"  class="form-control form-control-lg form-control-solid"/>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('email')?.touched && addForm.get('email')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('email')?.touched && addForm.get('email')?.hasError('emailExists')">
                                <div class="fv-help-block"> This Email already exists</div>
                            </div>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('email')?.touched && addForm.get('email')?.hasError('email')">
                                <div class="fv-help-block"> Incorrect email format</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required">Gender</label>
                        <div class="col-lg-8 fv-row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="gender" value="Male" checked>
                                <label class="form-check-label" for="gender">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="gender" value="Female">
                                <label class="form-check-label" for="gender">Female</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required">Role</label>
                        <div class="col-lg-8 fv-row">
                            <input formControlName="role" name="role" placeholder="Role"  type="text" required class="form-control form-control-lg form-control-solid"/>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('role')?.touched && addForm.get('role')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-6" *ngIf="hideDistrict != 1">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required">District</label>
                        <div class="col-lg-8 fv-row">
                            <input formControlName="district" name="district" placeholder="District"  type="text" required class="form-control form-control-lg form-control-solid"/>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('district')?.touched && addForm.get('district')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required">Address</label>
                        <div class="col-lg-8 fv-row">
                            <textarea formControlName="address" name="address" placeholder="Address"  required class="form-control form-control-lg form-control-solid" rows="5"></textarea>
                            <div class="fv-plugins-message-container" *ngIf="addForm.get('address')?.touched && addForm.get('address')?.hasError('required')">
                                <div class="fv-help-block"> This is a required field</div>
                            </div>
                        </div>
                    </div>

                    


                    <div class="col-lg-12 fv-row" style="text-align: right">
                        <button [disabled]="!addForm.valid" class="btn btn-primary" type="submit" >
                            <ng-container >Save Changes</ng-container>
                            <!-- <ng-container *ngIf="isLoading">
                              <span [style.display]="'block'" clas="indicator-progress">
                                Please wait...{{ " " }}
                                  <span
                                          class="spinner-border spinner-border-sm align-middle ms-2"
                                  ></span>
                              </span>
                            </ng-container> -->
                        </button>
                    </div>

                    <!--Modify the form according to field End-->


                </div>
            </div>
        </div>
    </div>

</form>
