<div class="card mb-5 mb-xl-8">
    <div class="card-header border-0 ps-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">Manage {{commonEntityName}}</span>
            <!--<span class="text-muted mt-1 fw-bold fs-7">Manage Frontend Users</span>-->
        </h3>
        <div *ngIf="tab == 0" class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add User">

            <button (click)="openModal(1)" class="btn btn-sm btn-primary m-5">
                <span [inlineSVG]="'./assets/media/icons/schoolnet/plus-squared.svg'" class="svg-icon svg-icon-3"></span>
                Add Individual {{commonEntityName}}
            </button>
            <button (click)="openModal(2)"  class="btn btn-sm btn-primary">
                <span [inlineSVG]="'./assets/media/icons/schoolnet/plus-squared.svg'" class="svg-icon svg-icon-3"></span>
                Add Bulk {{commonEntityName}}
            </button>
        </div>
    </div>

    <div class="card-body ps-3">
        <div class="row p-0 m-0">
            <div class="col-lg-12 fv-row">
                <div class="grid-control">
                    <!-- <select *ngIf="user.type != 3" name="userType" required class="form-select form-select-solid form-select-lg fw-bold me-2 d-inline-block w-auto"  (change)="onTypeChange($event)">
                        <option value="">Select Project Type</option>
                        <option value="1">IFP</option>
                        <option value="2">KYAN</option>


                    </select> -->
                    <button (click)="download()" class="dt-button buttons-excel buttons-html5 me-5" tabindex="0" aria-controls="school_visit_table" type="button"><span>Download Excel</span></button>
                    <ng-select
                            class="d-inline-block"
                            (change)="searchCategory($event)"
                            [items]="categoryList"
                            [multiple]="false"
                            [closeOnSelect]="true"                       
                            placeholder="Select Category"
                            bindLabel="name"
                            bindValue="id"
                            [searchable]="false"
                        
                    />

                    <div class="row mt-5 mb-5 " >
                        <!-- <label for="from" class="col-lg-1 col-form-label fw-bold fs-6">From:</label> -->
                        <div class="col-lg-3 fv-row">


                        </div>
                        <div class="col-lg-3 fv-row">

                        </div>
                    </div>
                </div>
                <!-- begin::Table container -->

                <div class="table-responsive user-grid">
                    <!-- begin::Table -->
                    <table [id]="commonEntityNameTable" datatable [dtOptions]="dtOptions" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">





                    </table>
                    <!-- end::Table -->
                </div>

            </div>
        </div>


    </div>

</div>


<div class="modal bs-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addAssetModalStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Individual Asset</h4>
                <button type="button" class="close" (click)="closePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body fs-4 lightText">
                <app-add-asset (OnAddForm)="onAdded()"></app-add-asset>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addBulkAssetModalStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Bulk Asset</h4>
                <button type="button" class="close" (click)="closePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body fs-4 lightText">
                <app-add-bulk-asset (OnAddForm)="onAdded()" [type]="0"></app-add-bulk-asset>
            </div>
        </div>
    </div>
</div>

